@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.container {
    width: 90%;
    margin: 0 auto;
}
.blaze-header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.blaze-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.game-page {
    padding: 50px 0;
    text-align: center;
}

.game-page h2 {
    margin-bottom: 30px;
    font-size: 24px;
}

.game-page p {
    color: #999;
    margin-bottom: 40px;
}

.botao {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #218838;
}

.blaze-footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
