.botao{
    height: 50px;
    width: 250px;
     border-radius: 15px;
}
.container {
    width: 90%;
    margin: 0 auto;
}

.blaze-header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.blaze-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Game Page Styles */
.game-page {
    padding: 50px 0;
}

.game-page h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.game {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #222;
}

.game h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.game p {
    font-size: 16px;
    color: #999;
    margin-bottom: 15px;
}

.game a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.game a:hover {
    background-color: #555;
}

.blaze-footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.carro{
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 5px 10px #fffb00;
}